<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>617243251381-lfn5d8i9989a3v7or7sshb3unpgrhmhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617243251381-lfn5d8i9989a3v7or7sshb3unpgrhmhd</string>
	<key>API_KEY</key>
	<string>AIzaSyDpzP9qID6uU6GHOyuklrucdAb_73vHAJs</string>
	<key>GCM_SENDER_ID</key>
	<string>617243251381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Aladdin</string>
	<key>PROJECT_ID</key>
	<string>aladdinapp-942fe</string>
	<key>STORAGE_BUCKET</key>
	<string>aladdinapp-942fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617243251381:ios:3056d7853f676a42</string>
	<key>DATABASE_URL</key>
	<string>https://aladdinapp-942fe.firebaseio.com</string>
</dict>
</plist>